body {
  font-family: Inter, sans-serif;
  background-color: #ffffff;
  color: #434b53;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  border-bottom: 3px solid #275f7a;
}

.header-logo {
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  font-size: 25px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #275f7a;
}

.header-nav {
}

.header-list {
  display: flex;
  gap: 40px;
}

/* .header-item:not(:last-child) {
    margin-right: 40px;
} */
.header-item {
}

.header-list-link {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #2e363e;
  padding-top: 41px;
  padding-bottom: 41px;
}

.header-list-link:hover,
.header-list-link:focus {
  color: #275f7a;
}

.header-adress {
}

.header-adress-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.52;
  text-align: right;
  color: #275f7a;
}

/* styles for first section "submit-section" Igor Tymchuk */

.submit-section {
  padding: 100px 0;
}

.submit-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submit-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: #2e363e;
  margin-bottom: 25px;
}

.submit-text {
  font-weight: 400;
  font-size: 21px;
  line-height: 1.6;
  letter-spacing: -0.01em;
  color: #434b53;
  margin-bottom: 25px;
}

.submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
  border-radius: 5px;
  padding: 20px 50px;
  min-width: 337px;
  height: 70px;
  background-color: #275f7a;
  font-weight: 600;
  font-size: 21px;
  line-height: 1.43;
  letter-spacing: -0.01em;
  color: #fff;
  border: none;
  transition: background-color 200ms ease-in-out;
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: #1f4061;
}

.submit-btn:active {
  background-color: #275f7a;
  border: 1px solid #2e363e;
}

.submit-left-content {
  width: 580px;
}

/***************section WHY-CHOOSE***********/

.why-choose {
  background-color: #275f7a;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.subject {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.3;
  text-align: center;
  color: #fff;
  margin-bottom: 60px;
}

.text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
}

.subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.4;
  text-align: center;
  color: #fff;
  padding-bottom: 4px;
}

.list {
  display: flex;
  gap: 53px;
}

.item {
  width: calc((100% - 106px) / 3);
}

.list .item:last-child {
  margin-right: 0;
}

.container-img {
  display: flex;
  justify-content: center;
  margin-bottom: 11px;
}

/*****************section ABOUT********************/
.section-about {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.wrap-about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 94px;
}

.container-about {
  display: flex;
  flex-direction: column;
}

.about-subject {
  color: #2e363e;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.3;
  letter-spacing: -0.03em;
  max-width: 376px;
  margin-bottom: 20px;
}

.text-about {
  font-weight: 400;
  font-size: 21px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  color: #434b53;
  margin-bottom: 28px;
}

.subtitle-about {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.3;
  color: #275f7a;
}

.list-about {
  width: 342px;
  display: flex;
  gap: 30px;
}

.text-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #2e363e;
}

/*********************************************/

/* ------------------ Feedback -------------------- */

.feedback-section {
  background-color: #275f7a;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.paragraph-feedback {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  text-align: justify;
  color: #fff;
  margin-bottom: 19px;
  position: relative;
  padding-left: 160px;
}

.paragraph-feedback::before {
  position: absolute;
  content: '';
  border: 2px solid #fff;
  width: 143px;
  height: 0px;
  top: 50%;
  left: 0;
}

.feedback-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.255;
  letter-spacing: 0.03em;
  color: #fff;
  max-width: 440px;
  margin-bottom: 50px;
}

.feedback-list {
  display: flex;
  gap: 35px;
}

.feedback-information {
  border-radius: 5px;
  width: 365px;
  height: 198px;
  background-color: #ffffff;
}

.feedback-name {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #000;
  margin-top: 12px;
  margin-bottom: 20px;
}

.feedback-text {
  font-weight: 400;
  font-size: 11px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  text-align: center;
  color: #696969;
  padding-left: 18px;
  padding-right: 18px;
}

.feedback-image {
  display: flex;
  justify-content: center;
}

/*---section tariffs-main--*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.tariffs-main-section {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.tariffs-main {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.tariffs-main-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 35px 35px;
  border-radius: 10px;
  box-shadow: 2px 4px 15px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  width: calc((100% - 2 * 20px) / 3);
}

.tariffs-main-image {
  margin-bottom: 47px;
}

.tariffs-main-content {
  display: flex;
  flex-direction: column;
  gap: 13px;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 52px;
}

.tariffs-main-wrap {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  min-width: 307px;
}

.tariffs-main-wrap h3 {
  font-weight: 700;
  font-size: 27px;
  line-height: 1.1;
  color: #2e363e;
}

.tariffs-main-wrap h4 {
  font-style: italic;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.1;
  color: #434b53;
}

.tariffs-main-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
  color: #2e363e;
}

.tariffs-main-content span {
  font-weight: 600;
  font-size: 18px;
}

/*.tariffs-main-link {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.1;
  color: #275f7a;
  text-decoration: underline;
  margin-left: auto;
}*/

.tariffs-main-btn {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.1;
  color: #275f7a;
  margin-left: auto;
  cursor: pointer;
  border: none;
  background-color: transparent;
  min-width: 124px;
  padding: 0;
}

/* footer */

.footer-container {
  background-color: #275f7a;
  padding: 91px 140px 85px 131px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  color: #ffffff;
  font-family: Reem Kufi;
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
  text-align: left;
  text-transform: uppercase;
  /* text-decoration: none; */
}

.footer-socials {
  display: flex;
  gap: 50px;
}

.footer-phone {
  color: #fff;
  font-family: Inter;
  font-size: 30px;
  font-weight: 700;
  line-height: 33px;
  text-align: right;
}

/* modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.56);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* .no-scroll {
  overflow: hidden;
} */

.modal {
  background-color: #fff;
  width: 650px;
  min-height: 854px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 76px 67px 75px 50px;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: #1f4061;
  color: #fff;
}

.modal-subtitle {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 700;
  line-height: 1.55;
  letter-spacing: 0.03em;
  text-align: justify;
  color: #000;
  margin-bottom: 19px;
}

.modal-subtitle::before {
  display: block;
  content: '';
  width: 143px;
  height: 2px;
  background-color: #d8d8d8;
}

.modal-title-accent {
  color: #000;
}

.modal-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.255;
  letter-spacing: 0.03em;
  color: #022c40;
  margin-bottom: 31px;
}

.modal-text {
  line-height: 1.55;
  letter-spacing: 0.03em;
  text-align: justify;
  color: #022c40;
  margin-bottom: 23px;
}

.modal-form {
}

.modal-label {
  display: block;
  margin-bottom: 23px;
}

.modal-input {
  width: 100%;
  height: 60px;
  border: 1px solid #cacaca;
  border-radius: 5px;
  background-color: transparent;
  padding-left: 21px;
  outline: transparent;
}

.modal-input:focus {
  border-color: #275f7a;
}

.modal-input::placeholder {
  font-family: 'Poppins', sans-serif;
  line-height: 1.55;
  letter-spacing: 0.03em;
  text-align: justify;
  color: #000;
}

.modal-message {
  resize: none;
  height: 149px;
  padding: 22px 21px;
}

.modal-submit-btn {
  margin-top: 33px;
  border-radius: 5px;
  min-width: 181px;
  height: 48px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
  background-color: #022c40;
  border: none;
}
