.tariffs-section {
  padding: 100px 0;
}
.tariffs-main-title {
  font-size: 36px;
  line-height: 1.33;
  text-align: center;
  color: #2e363e;
  margin-bottom: 45px;
}
.tariffs-conteiner {
  background-color: #e3f2f9;
  margin-bottom: 41px;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 39px;
  padding-right: 46px;
  max-width: 1200px;
  display: flex;
}
.tariffs-img {
  padding: 80px auto;
  margin-right: 40.24px;
}
.tariffs-text-container {
  display: flex;
  flex-direction: column;
}
.tariffs-title {
  font-size: 27px;
  line-height: 1.1;
  color: #2e363e;
}
.tariffs-italic-title {
  font-style: italic;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.1;
  color: #434b53;
}
.tariffs-title-container {
  display: flex;
  margin-bottom: 13px;
  gap: 59.35px;
}
.tariffs-text {
  font-size: 16px;
  line-height: 1.4;
  color: #2e363e;
  margin-bottom: 15px;
}
.tariffs-text-margin {
  margin-bottom: 13px;
}
.tariffs-text-span {
  font-weight: 600;
  font-size: 18px;
}
.tariffs-btn {
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  line-height: 1.1;
  color: #275f7a;
  background-color: transparent;
  border: none;
  min-width: 129px;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.tariffs-btn.current::after {
  position: absolute;
  content: '';
  width: 129px;
  display: block;
  bottom: -1px;
  right: 3px;
  height: 1px;
  background-color: #275f7a;
  border-radius: 1px;
}
